@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

body {
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.fondo {
    background: linear-gradient(rgba(253, 238, 206, 0.75), rgba(242, 230, 205, 0.75)), url("../img/inicio.jpg");
    background-color: rgb(255, 225, 164);
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Menú */
.navbar-nav {
    list-style: none;
}

.navbar-nav li {
    display: inline-block;
    padding: 0 30px;
}

.navbar-nav li:hover {
    transform: scale(1.1);
}

.navbar-nav a {
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;

}

.navbar-nav li a:hover {
    color: #ffbc0e;
}

/* Cabecera */
.bienvenida {
    width: 80%;
    margin-left: 10%;
    justify-content: left;
    align-items: center;
    margin-top: 3%;
    font-size: 22px;
}

.fondo hr {
    width: 100%;
    height: 1px;
    background-color: black;
}

.search {
    width: 80%;
    height: 10%;
    margin-left: 10%;
    display: flex;
}

.search-container {
    width: 31%;
    height: 95%;    
    position: relative;
    margin-top: 1%;
}

.search-container input {
    margin-left: -1%;
    padding-left: 3%;
    width: 100%;
    height: 60%;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 15px;
}

.search-container input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
  
.search-container .search-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3%;
    margin-top: -1.5%;
    height: 60%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size:xx-large;
    color: #fb8500;
}

.search-container input:hover {
    cursor: text;
}

.search select:hover {
    cursor: pointer;
}

.search label {
    font-size: 15px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1.8%;
}

.search select {
    height: 45%;
    width: 14%;
    margin-top: 1.4%;
    border: 1px solid black;
    background-color: rgba(242, 230, 205, 0.5);
    border-radius: 15px;
}

/* Sección institutos */
.institutos-container {
    width: 80%;
    height: 57%;
    margin-left: 10%;
    margin-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6%;
    overflow-y: hidden;
}

.institutos-container:hover {
    overflow-y: auto;
}

.institutos-container::-webkit-scrollbar {
    width: 1px;
}

.institutos-container .instituto {
    width: 20%;
    height: 50%;
    margin-top: 1%;
    
}

.instituto:hover{
    transform: scale(1.02);
    border: 1px solid  #bd7523;
    border-radius: 3%;
    background-color: rgba(255, 255, 255, 0.3); 
}

.instituto:hover .img-instituto img {
    transform: scale(1.15);
   
}

.instituto .nombre h4{
    position: relative;
}

.instituto .nombre h4::after {
  content: ''; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 0; 
  height: 1px; 
  background-color: black; 
  transition: width 0.3s ease; 
}

.instituto:hover .nombre h4::after {
    width: 100%;
}

.img-instituto {
    width: 100%;
    height: 60%;
    transition: background-color 0.3s ease;
    overflow: hidden;
}

.instituto .nombre {
    width: 100%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.instituto .nombre h4{
    font-weight: 100;
} 

.img-instituto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.btn-instituto {
    width: 50%;
    height: 15%;
    margin-top: 3.5%;
    margin-left: 25%;
    outline: none;
    cursor: pointer;
    background-color: #fb8500;
    color: #fff;
    border: 1px;
    border-color: #000;
    border-radius: 10px;
    transition: background-color .3s;
    border-radius: 15px;
}

.btn-instituto:hover {
    transform: scale(1.1);
    
}

.instituto:hover .btn-instituto {
    transform: scale(1.1);
    
}