<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="../css/styleexpediente.css">
    <link rel="stylesheet" href="../css/styleinformation.css">
</head>

<body class="fondo">
    <header class="header">
        <div class="logo">
            <a href="/educaTodos"><img src="../img/EDUCATODOS.png" alt=""> </a>
        </div>
    </header>

    <img src="../img/pngwing.com.png" alt="">

    <div class="contenedor-formulario">
        <div class="cont-header">
            <div class="title">
                <h2>Creación del Expediente Estudiantil</h2>
            </div>
            <div class="informacion">Información del tutor</div>
        </div>

        <div class="form-information">
            <form id="formulary" class="form" action="/registro" method="POST">
                <div class="form-student">
                    <div class="form-group-left">
                        <div class="form-group">
                            <label class="no-estilo" for="relacion">Relación con el estudiante</label>
                            <select name="relacionEstudiante" id="relacion">
                                <option value="padreBio">Padre biológico</option>
                                <option value="madreBio">Madre biológica</option>
                                <option value="tutorLegal">Tutor legal</option>
                                <option value="familiar">Familiar cercano</option>
                                <option value="mentor">Mentor</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="id">Número de Identidad</label>
                            <input class="info" id="id" name="dni" type="text">
                        </div>

                        <div class="form-group">
                            <label for="nombre">Primer nombre</label>
                            <input class="info" id="" name="primer_nombre_tutor" type="text">
                        </div>

                        <div class="form-group">
                            <label for="nombre">Segundo nombre</label>
                            <input class="info" id="" name="segundo_nombre_tutor" type="text">
                        </div>

                        <div class="form-group">
                            <label for="nombre">Primer apellido</label>
                            <input class="info" id="" name="primer_apellido_tutor" type="text">
                        </div>

                        <div class="form-group">
                            <label for="nombre">Segundo apellido</label>
                            <input class="info" id="nombre" name="segundo_apellido_tutor" type="text">
                        </div>

                        <div class="form-group">
                            <label for="tel">Número de teléfono</label>
                            <input class="info" id="tel" name="telefono" type="text">
                        </div>

                        <div class="form-group">
                            <label for="ocup">Ocupación</label>
                            <input class="info" id="ocup" name="ocupacion" type="text">
                        </div>

                        <div class="form-group">
                            <label for="correo">Correo electrónico</label>
                            <input class="info" id="correo" name="correo_electronico" type="text">
                        </div>
                    </div>

                    <div class="form-group-right">
                        <div class="form-group" id="div-date">
                            <label class="no-estilo" for="fecha">Fecha de nacimiento</label>
                            <input type="date" if="fecha" name="fecha_nacimiento_tutor">
                        </div>

                        <div class="form-group-radio">
                            <label class="no-estilo">Género</label>
                            <label class="no-estilo-radio">
                                <input type="radio" name="genero_id_tutor" value="1">
                                <span>Femenino</span>
                                <input type="radio" name="genero_id_tutor" value="2">
                                <span>Masculino</span>
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="areas">Dirección de residencia</label>
                            <textarea name="residenceTutor" cols="40" rows="4"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="areas" for="uploadBtn">Identidad (Formato imagen o pdf)</label>
                            <input class="input-file" type="file" name="fileId" id="uploadBtn">
                            <label for="uploadBtn"></label>
                        </div>

                        <!--<div class="contenedor-botones">
                            <button type="button" onclick="estudianteView()">←  Anterior</button>
                            <button name="enviar" type="submit">Enviar información ✓</button>
                        </div>-->
                    </div>
                </div>

                <div class="informacion">Información del Estudiante</div>

                <div class="form-tutor">
                    <div class="form-group-left">
                        <div class="form-group">
                            <label for="id">Número de Identidad</label>
                            <input class="info" id="id" name="dni_estudiante" type="text">
                        </div>

                        <div class="form-group">
                            <label for="nombre">Primer nombre</label>
                            <input class="info" id="" name="primer_nombre_estudiante" type="text">
                        </div>

                        <div class="form-group">
                            <label for="nombre">Segundo nombre</label>
                            <input class="info" id="" name="segundo_nombre_estudiante" type="text">
                        </div>

                        <div class="form-group">
                            <label for="nombre">Primer apellido</label>
                            <input class="info" id="" name="primer_apellido_estudiante" type="text">
                        </div>

                        <div class="form-group">
                            <label for="nombre">Segundo apellido</label>
                            <input class="info" id="nombre" name="segundo_apellido_estudiante" type="text">
                        </div>

                        <div class="form-group">
                            <label class="areas-one">Fotografía tipo carnet</label>
                            <input class="input-file" type="file" name="fotografia_estudiante" id="uploadBtn">
                            <label for="uploadBtn"></label>
                        </div>
                    </div>

                    <div class="form-group-right">
                        <div class="form-group" id="div-date">
                            <label class="no-estilo" for="fecha">Fecha de nacimiento</label>
                            <input type="date" if="fecha" name="fecha_nacimiento_estudiante">
                        </div>

                        <div class="form-group">
                            <label class="no-estilo" for="nacionalidad">Nacionalidad</label>
                            <select name="nacionality" id="nacionalidad">
                                <option value="honduran">Hondureña</option>
                                <option value="other">Otra</option>
                            </select>
                        </div>

                        <div class="form-group-radio">
                            <label class="no-estilo">Género</label>
                            <label class="no-estilo-radio">
                                <input type="radio" name="genero_id_estudiante" value="1">
                                <span>Femenino</span>
                                <input type="radio" name="genero_id_estudiante" value="2">
                                <span>Masculino</span>
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="areas">Dirección de residencia</label>
                            <textarea name="residenceStudent" cols="40" rows="4"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="areas">Partida de nacimiento</label>
                            <input class="input-file" type="file" name="certificated" id="uploadBtn-one">
                            <label for="uploadBtn-one"></label>
                        </div>
                    </div>
                </div>
                <div class="form-instituto">
                    <label  for="instituto">Seleccionar el instituto que desea matricular</label>
                    <select name="instituto" id="instituto">
                        <% institutos.forEach(instituto=> { %>
                            <option value="<%=instituto.id_institucion%>"><%=instituto.nombre%> -- <%=instituto.direccion%></option>
                        <% })%>    
                    </select>
                </div>
            </form>
        </div>

        <div class="contenedor-botones">
            <button name="enviar" form="formulary" type="submit">Enviar información ✓</button>
        </div>
    </div>



    <script src="js/main.js"></script>

    <script>
        let fileinputs = document.querySelectorAll(".input-file");
    </script>

    <style>


    </style>
    

    <%- include('partials/footer') -%>