<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrarse</title>
    <link rel="stylesheet" href="../css/expediente.css" />
  </head>

  <body class="fondo">
    <header class="header">
      <a href="../educaTodos">
        <div class="logo">
            <img src="../img/EDUCATODOS.png" alt="">
        </div>
    </a>
    </header>

    <div class="contenedor-formulario">
      <img src="../img/pngwing.com.png" alt="" />
      <div class="cont-header">
        <div class="title">
          <h2>Creación del Expediente Estudiantil</h2>
        </div>
        <div class="informacion">Información del estudiante</div>
      </div>

      
      <div class="form-information">
        <form class="form" action="/registro" method="POST">

          <div class="form-group-left">
            <div class="form-group">
              <label for="id">Número de Identidad</label>
              <input class="info" id="id" name="numeroIdentidad" type="text" required/>
            </div>

            <div class="form-group">
              <label for="nombre">Nombre completo</label>
              <input class="info" id="nombre" name="nombreCompleto" type="text" required/>
            </div>

            <div class="form-group" id="genero-radio">
              <label class="no-estilo">Nacionalidad</label>
              <label class="no-estilo" id="label-radio">
                <input type="radio" name="opcion" value="1" required/>
                <span>Hondureña</span>
                <input type="radio" name="opcion" value="2" required/>
                <span>Otra</span>
              </label>
            </div>
            <div class="form-group">
              <label class="areas" for="archivo"
                >Fotrografia tipo carnet</label
              >
              <input type="file" name="fileId" required/>
            </div>
          </div>

          <div class="form-group-right">
            <div class="form-group" id="div-date">
              <label class="no-estilo" for="fecha">Fecha de nacimiento</label>
              <input type="date" if="fecha" name="fechaNacimiento" />
            </div>

            <div class="form-group" id="genero-radio">
              <label class="no-estilo">Género</label>
              <label class="no-estilo" id="label-radio">
                <input type="radio" name="generoID" value="1" required/>
                <span>Masculino</span>
                <input type="radio" name="generoID" value="2" required/>
                <span>Femenino</span>
              </label>
            </div>

            <div class="form-group">
              <label class="areas" for="residencia"
                >Dirección de residencia</label
              >
              <textarea name="direccionResidencia" cols="40" rows="4"></textarea>
            </div>

            <div class="form-group">
              <label class="areas" for="archivo"
                >Partida de nacimiento</label
              >
              <input type="file" name="fileId" />
            </div>

            <div class="contenedor-botones">
              <button type="button" onclick="window.history.back()">
                ← Anterior
              </button>
              <button name="enviar" type="submit">enviar✓</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <footer>
      <div class="footerBottom">
        <p>
          EDUCATODOS &copy;2024 Diseñado por
          <span class="designer">Grupo 5</span>
        </p>
      </div>
    </footer>

    <script src="../js/main.js"></script>
  </body>
</html>
