<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="../css/styleexpediente.css">
    <link rel="stylesheet" href="../css/styleinformation.css">
    <link rel="stylesheet" href="../css/styleheader.css">
</head>

<body class="fondo">
    <header class="header">
        <a href="/educaTodos">
            <div class="logo">
                <img src="../img/EDUCATODOS.png" alt="">
            </div>
        </a>
        <nav>
            <ul class="nav-links">
                <li><a href="/educaTodos"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </nav>

        <span>
            <a class="btn" nombre="login" href="/login"><button>Iniciar Sesión</button></a>

        </span>
        <button class="navbar_toogle-btn">
            <img src="../img/puntos.ico" alt="">
        </button>
        <div class="navbar_mobile-menu">
            <ul class="nav-list-mobile">
                <li class="nav_link-mobile"><a href="#"></a></li>
                <li class="nav_link-mobile"><a href="#"></a></li>
                <li class="nav_link-mobile"><a href="#"></a></li>
                <li class="nav_link-mobile"><a href="#"></a></li>
                <li class="nav_link-mobile"><a href="#"></a></li>
                <li class="nav_link-mobile"><a href="#"></a></li>
            </ul>
        </div>
        </nav>
    </header>

    <img src="../img/pngwing.com.png" alt="">

    <div class="contenedor-formulario">
        <div class="cont-header">
            <div class="title">
                <h2>Registro Tutor</h2>
            </div>
            <div class="informacion">Información del tutor</div>
        </div>

        <div class="form-information">
            <form id="formulary" class="form" action="/registro" method="POST">
                <div class="form-student">
                    <div class="form-group-left">
                        <div class="form-group">
                            <label class="no-estilo" for="relacion">Relación con el estudiante</label>
                            <select name="relacionEstudiante" id="relacion">
                                <option value="padreBio">Padre biológico</option>
                                <option value="madreBio">Madre biológica</option>
                                <option value="tutorLegal">Tutor legal</option>
                                <option value="familiar">Familiar cercano</option>
                                <option value="mentor">Mentor</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="id">Número de Identidad</label>
                            <input class="info" id="id" name="dni" type="text">
                        </div>

                        <div class="form-group">
                            <label for="nombre">Primer nombre</label>
                            <input class="info" id="" name="primer_nombre_tutor" type="text">
                        </div>

                        <div class="form-group">
                            <label for="nombre">Segundo nombre</label>
                            <input class="info" id="" name="segundo_nombre_tutor" type="text">
                        </div>

                        <div class="form-group">
                            <label for="nombre">Primer apellido</label>
                            <input class="info" id="" name="primer_apellido_tutor" type="text">
                        </div>

                        <div class="form-group">
                            <label for="nombre">Segundo apellido</label>
                            <input class="info" id="nombre" name="segundo_apellido_tutor" type="text">
                        </div>

                        <div class="form-group">
                            <label for="tel">Número de teléfono</label>
                            <input class="info" id="tel" name="telefono" type="text">
                        </div>

                        <div class="form-group">
                            <label for="ocup">Ocupación</label>
                            <input class="info" id="ocup" name="ocupacion" type="text">
                        </div>

                        <div class="form-group">
                            <label for="correo">Correo electrónico</label>
                            <input class="info" id="correo" name="correo_electronico" type="text">
                        </div>
                    </div>

                    <div class="form-group-right">
                        <div class="form-group" id="div-date">
                            <label class="no-estilo" for="fecha">Fecha de nacimiento</label>
                            <input type="date" if="fecha" name="fecha_nacimiento_tutor">
                        </div>

                        <div class="form-group-radio">
                            <label class="no-estilo">Género</label>
                            <label class="no-estilo-radio">
                                <input type="radio" name="genero_id_tutor" value="1">
                                <span>Femenino</span>
                                <input type="radio" name="genero_id_tutor" value="2">
                                <span>Masculino</span>
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="areas">Dirección de residencia</label>
                            <textarea name="residenceTutor" cols="40" rows="4"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="areas" for="uploadBtn">Identidad (Formato imagen o pdf)</label>
                            <input class="input-file" type="file" name="fileId" id="uploadBtn">
                            <label for="uploadBtn"></label>
                        </div>

                       <!--<div class="contenedor-botones">
                            <button type="button" onclick="estudianteView()">←  Anterior</button>
                            <button name="enviar" type="submit">Enviar información ✓</button>
                        </div>--> 

                        
                    </div>
                </div>

           
            </form>
        </div>

        <div class="contenedor-botones">
            
            <button name="enviar" form="formulary" type="submit">Enviar información ✓</button>
        </div>
    </div>



    <script src="js/main.js"></script>

    <script>
        let fileinputs = document.querySelectorAll(".input-file");
    </script>

    <style>


    </style>
    

    <%- include('partials/footer') -%>