<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expediente Estudiantil</title>
    <link rel="stylesheet" href="../css/stylefinexpediente.css">
</head>

<body class="fondo">
    <!-- sección menu -->
    <header class="header">
        <div class="logo">
            <a href="/educaTodos"><img src="../img/EDUCATODOS.png" alt=""> </a>
        </div>
    </header>

    <!-- sección Bienvenida -->
    <hr>

    <!-- sección SERVICIOS -->
    <div class="container">

        <div class="estado">
            <h1 class="uno">Información Enviada</h1>
            <h1 class="division">Exitosamente</h1>
            <img src="../img/listo.png" alt="">
        </div>

        <div class="cita">
            <h2>Cita para verificación de información</h2>
            <label class="titulo" for="fecha">Seleccione la fecha de la cita en la que desee acuidir a la institución
                para verificar la información enviada</label>
            <input class="fecha" type="date" if="fecha" name="fecha_cita">
        </div>
        <button class="button" name="inicio" type="submit">Inicio</button>
    </div>

    <footer>
        <div class="footerBottom">
            <p>EDUCATODOS &copy;2024 Diseñado por <span class="designer">Grupo 5</span></p>
        </div>
    </footer>

    <script src="../js/main.js"></script>
</body>

</html>