<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDUCATODOS</title>
    <link rel="stylesheet" href="../css/styleindex.css">
    <link rel="stylesheet" href="../css/styleheader.css">
</head>

<body class="fondo">
    <!-- sección menu -->
    <header class="header">
        <a href="educaTodos">
            <div class="logo">
                <img src="../img/EDUCATODOS.png" alt="">
            </div>
        </a>
        <nav>
            <ul class="nav-links">
                <li><a href="/educaTodos">Inicio</a></li>
                <li><a href="#">Matricula</a></li>
                <li><a href="#">Expediente Estudiantil</a></li>
                <li><a href="#">Traslado</a></li>
                <li><a href="#">Instituciones</a></li>
                <li><a href="#">Solicitudes</a></li>
            </ul>
        </nav>

        <span>
            <a class="btn" nombre="login" href="/login"><button>Iniciar Sesión</button></a>
            <a class="btn" nombre="registro" href="/singUp"><button>Registrarse</button></a>
        </span>
        <button class="navbar_toogle-btn">
            <img src="../img/puntos.ico" alt="">
        </button>
        <div class="navbar_mobile-menu">
            <ul class="nav-list-mobile">
                <li class="nav_link-mobile"><a href="#">Inicio</a></li>
                <li class="nav_link-mobile"><a href="#">Matricula</a></li>
                <li class="nav_link-mobile"><a href="#">Expediente Estudiantil</a></li>
                <li class="nav_link-mobile"><a href="#">Traslado</a></li>
                <li class="nav_link-mobile"><a href="#">Instituciones</a></li>
                <li class="nav_link-mobile"><a href="#">Solicitudes</a></li>
            </ul>
        </div>
        </nav>
    </header>

    <!-- sección Inicio -->
    <span class="sombra">
        <section id="inicio" class="inicio">
            <div class="fila">
                <div class="col">
                    <h2>MATRICULA EN LINEA</h2>
                    <p>Simplificamos el proceso de inscripción escolar a nivel nacional mediante una plataforma en linea
                        que perminte a los paderes o tutores registrar a los estudiantes</p>
                    <a href="/expedienteTutor" name="login" class="btn btn-1">Comenzar</a>
                </div>
            </div>
        </section>
    </span>

    <!-- sección SERVICIOS -->
    <section id="servicios" class="servicios">
        <div class="fila">
            <div class="col">
                <div class="card">
                    <div class="icono">
                        <img src="../img/padres.ico" class="img">
                    </div>
                    <h3>Padres o Tutores</h3>
                    <p>Podran crear el expediente estudiantial de su hijo, como ver las diferentes instituciones que
                        hay. Tambien podrán realizar varios tipos de solicitudes. Entre otros más.</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div>
                        <img src="../img/profe.ico" class="img">
                    </div>
                    <h3>Profesores</h3>
                    <p>Podrán registar las calificaciones de cada uno de sus alumnos en las diferentes asignaturas ya
                        sea a nivel basico o a nivel media.</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div>
                        <img src="../img/admin.ico" class="img">
                    </div>
                    <h3>Administradores</h3>
                    <p>Podrán manejar la información de su institución, tanto agregar docentes como aceptar las
                        diferentes solicitudes que harán los padres.</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footerBottom">
            <p>EDUCATODOS &copy;2024 Diseñado por <span class="designer">Grupo 5</span></p>
        </div>
    </footer>

    <script src="../js/main.js"></script>
</body>

</html>