<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información Instituto</title>
    <link rel="stylesheet" href="../css/styleheader.css">
    <link rel="stylesheet" href="../css/infoinstituto.css">
</head>

<body class="fondo">
    <!-- sección menu -->
    <%-include("./partials/header") %>

    <!-- sección Bienvenida -->
    <div class="bienvenida">
        <h2>Instituciones Educativas</h2>
    </div>
    <hr>
    <!-- sección informacion instituto -->
    <div class="instituto">
        <div class="nombre">
            <h1>Instituto Gubernamental España Jesus Milla Selva</h1>
        </div>
        <div class="informacion">
            <div class="infogeneral">
                <h2>Información General</h2>
                <h3>Tipo de Educación</h3>
                <p>Educacion Media</p>
                <h3>Dirección de la institución</h3>
                <p>Francisco Morazan, Municiopio distrito Central, Tegucigalpa Colonia Kennedy........................</p>
               
            </div>
            <div class="infoacademica">
                <h2>Información Académica</h2>
                <div class="grados">
                    <h3>Grados Disponibles</h3>
                    <p>Septimo <br>
                        Octavo <br>
                        Noveno <br>
                        Decimo <br>
                        Onceavo <br>
                        Doceavo </p>
                </div>
                <div class="carreras">
                    <h3>Carreras Disponibles</h3>
                    <p>BTP en Contaduiria y Finanzas <br>
                        BTP en Informatica <br>
                        Bachiller en Ciencias Y Letras</p>
                </div>
                <div class="jornadas">
                    <h3>Jornadas Disponibles</h3>
                    <p>Matutina <br>
                        Vespertina <br>
                        Nocturna</p>
                </div>
            </div>
        </div>
    </div>
    <div class="regresar">
        <button class="button1" type="button" onclick="window.history.back()">Regresar</button>
    </div>

    <footer>
        <div class="footerBottom">
            <p>EDUCATODOS &copy;2024 Diseñado por <span class="designer">Grupo 5</span></p>
        </div>
    </footer>

    <script src="../js/main.js"></script>
</body>

</html>