<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDUCATODOS</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/styleiniciousuario.css">
    <link rel="stylesheet" href="../css/styleheader.css">
</head>

<body class="fondo">

    <!-- sección menu -->
    <header class="header">
        <div class="logo">
            <a href="/bienvenido">
                <img src="../img/EDUCATODOS.png" alt="" style="padding-bottom: 5%;">
            </a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="./bienvenido">Inicio</a></li>
                <li><a href="#">Matricula</a></li>
                <li><a href="#">Expediente Estudiantil</a></li>
                <li><a href="#">Traslado</a></li>
                <li><a href="#">Instituciones</a></li>
                <li><a href="#">Solicitudes</a></li>
            </ul>
        </nav>

        <div></div>
        <div></div>

        <button class="navbar_toogle-btn">
            <img src="../img/puntos.ico" alt="">
        </button>
        <div class="navbar_mobile-menu">
            <ul class="nav-list-mobile">
                <li class="nav_link-mobile"><a href="/bienvenido">Inicio</a></li>
                <li class="nav_link-mobile"><a href="#">Matricula</a></li>
                <li class="nav_link-mobile"><a href="#">Expediente Estudiantil</a></li>
                <li class="nav_link-mobile"><a href="#">Traslado</a></li>
                <li class="nav_link-mobile"><a href="#">Instituciones</a></li>
                <li class="nav_link-mobile"><a href="#">Solicitudes</a></li>
            </ul>
        </div>
        </nav>

        <span>
            <a class="btn"><button>
                    <%= user.nombre%>
                        <%=user.apellido%>
                </button></a>
            <a class="a" href="/logout">Cerrar Sesión</a>
        </span>
    </header>

    <!-- sección Bienvenida -->
    <div class="bienvenida">
        <h2>Bienvenido <%= user.nombre %>
        </h2>
    </div>
    <hr>

    <!-- sección SERVICIOS -->
    <section id="servicios" class="servicios">
        <div class="fila">
            <div class="col">
                <div class="card">
                    <div class="icono">
                        <img src="img/matricula.ico" class="img">
                    </div>
                    <h3>Matricula Escolar</h3>
                    <button class="button" name="matricula" type="submit">Ver más</button>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div>
                        <img src="img/traslado.ico" class="img">
                    </div>
                    <h3>Traslado de Institución</h3>
                    <button class="button" name="traslado" type="submit">Ver más</button>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div>
                        <img src="img/expediente.ico" class="img">
                    </div>
                    <h3>Expediente Estudiantil</h3>
                    <button class="button" name="expediente" type="submit">Ver más</button>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="imagen">
                        <img src="img/institutos.ico" class="img">
                    </div>
                    <h3>Instituciones Educativas</h3>
                    <button class="button" name="institutos" type="submit">Ver más</button>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div>
                        <img src="img/solicitudes.ico" class="img">
                    </div>
                    <h3>Solicitudes Varias</h3>
                    <button class="button" name="solicitudes" type="submit">Ver más</button>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="footerBottom">
            <p>EDUCATODOS &copy;2024 Diseñado por <span class="designer">Grupo 5</span></p>
        </div>
    </footer>

    <script src="../js/main.js"></script>
</body>

</html>