<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDUCATODOS</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/styleiniciousuario.css">
    <link rel="stylesheet" href="../css/styleheader.css">
</head>

<body class="fondo">

    <!-- secci贸n menu -->
    <%-include("./partials/header") %>

    <!-- secci贸n Bienvenida -->
    <div class="bienvenida">
        <h2>Bienvenido <%= user.nombre %>
            
        </h2>
    </div>
    <hr>

    <!-- secci贸n SERVICIOS -->
    <section id="servicios" class="servicios">
        <div class="fila">
            
            <div class="col">
                <div class="card">
                    <div class="icono">
                        <img src="img/matricula.ico" class="img">
                    </div>
                    <h3> 
                        <a nombre="registro" href="/expedienteEstudiante">Crear expediente estudiantil</a>
                    </h3>
                   
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div>
                        <img src="img/traslado.ico" class="img">
                    </div>
                    <h3>Traslado de Instituci贸n</h3>
                
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div>
                        <img src="img/expediente.ico" class="img">
                    </div>
                    <h3>Expediente Estudiantil</h3>
                
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="imagen">
                        <img src="img/institutos.ico" class="img">
                    </div>
                    <h3>Instituciones Educativas</h3>
                  
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div>
                        <img src="img/solicitudes.ico" class="img">
                    </div>
                    <h3>Solicitudes Varias</h3>
             
                </div>
            </div>
        </div>
    </section>

    <script src="../js/usuario.js"></script>
    <%- include('partials/footer') -%>