<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matricula Instituto</title>
    <link rel="stylesheet" href="../css/styleheader.css">
    <link rel="stylesheet" href="../css/matriculainstituto.css">
</head>

<body class="fondo">
    <!-- sección menu -->
    <header class="header">
        <div class="logo">
            <img src="../img/EDUCATODOS.png" alt="">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/bienvenidoAdmi">Inicio</a></li>
                <li><a href="#">Matricula</a></li>
                <li><a href="/expedientesEstudiantiles">Expediente Estudiantil</a></li>
                <li><a href="#">Traslado</a></li>
                <li><a href="#">Instituciones</a></li>
                <li><a href="#">Solicitudes</a></li>
            </ul>
        </nav>

        <span>
            <a class="btn"><button>
                    <%= user.nombre%>
                        <%=user.apellido%>
                </button></a>
            <a class="a" href="/logout">Cerrar Sesión</a>
        </span>

        <button class="navbar_toogle-btn">
            <img src="../img/puntos.ico" alt="">
        </button>
        <div class="navbar_mobile-menu">
            <ul class="nav-list-mobile">
                <li class="nav_link-mobile"><a href="/bienvenidoAdmi">Inicio</a></li>
                <li class="nav_link-mobile"><a href="#">Matricula</a></li>
                <li class="nav_link-mobile"><a href="/expedientesEstudiantiles">Expediente Estudiantil</a></li>
                <li class="nav_link-mobile"><a href="#">Traslado</a></li>
                <li class="nav_link-mobile"><a href="#">Instituciones</a></li>
                <li class="nav_link-mobile"><a href="#">Solicitudes</a></li>
            </ul>
        </div>

        </nav>
    </header>

    <!-- sección Bienvenida -->
    <div class="bienvenida">
        <h2>Matricula</h2>
    </div>
    <hr>
    <!-- sección informacion instituto -->
    <div class="instituto">
        <div class="nombre">
            <h1>Instituto Gubernamental España Jesus Milla Selva</h1>
        </div>
        <div class="informacion">
            <div class="infogeneral">
                <h2>Información del Estudiante</h2>
                <div class="campos">

                    <p>Nombre Completo: </p>
                    <p>DNI: </p>
                    <p>Nacionalidad: </p>
                    <p>Fecha de nacimiento:</p>
                    <p>Genero:</p>
                    <p>Dirección:</p>
                    <p>Número de Teléfono: </p>
                    <p>Foto tamaño carnet:</p>
                    <p>Partida de nacimiento:</p>
                </div>
            </div>

            <div class="infoacademica">
                <h2>Información Académica</h2>
                <div class="jornadas">
                    <h3>Seleccione la jornada que desee matricular</h3>
                    <select name="grado" id="grado">
                        <option value="matutina">Matutina</option>
                        <option value="vespertina"> Vespertina</option>
                        <option value="nocturna">Nocturna</option>       
                    </select>
                </div>
                <div class="grados">
                    <h3>Grado que desea matricular</h3>
                    <select name="grado" id="grado">
                        <option value="septimo">Septimo</option>
                        <option value="octavo"> Octavo</option>
                        <option value="noveno">Noveno</option>
                        <option value="decimo">Decimo</option>
                        <option value="onceavo"> Onceavo</option>
                        <option value="doceavo">Doceavo</option>                          
                    </select>
                </div>
                <div class="carreras">
                    <h3>Seleccione la carrera que desee</h3>
                    <select name="grado" id="grado">
                        <option value="contaduria">BTP en Contaduria </option>
                        <option value="informatica"> BTN en Informatica</option>
                        <option value="humanidades">Humanidades</option>
                              
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="regresar">
        <button class="button1" type="submit">Confirmar matricula</button> 
        <button class="button" type="submit">Cancelar</button>
        
    </div>

    <footer>
        <div class="footerBottom">
            <p>EDUCATODOS &copy;2024 Diseñado por <span class="designer">Grupo 5</span></p>
        </div>
    </footer>

    <script src="../js/main.js"></script>
</body>

</html>