<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matricula Instituto</title>
    <link rel="stylesheet" href="../css/styleheader.css">
    <link rel="stylesheet" href="../css/matriculainstituto.css">
</head>

<body class="fondo">
    <!-- sección menu -->
    <%-include("./partials/header") %>
    <!-- sección Bienvenida -->
    <div class="bienvenida">
        <h2>Matricula</h2>
    </div>
    <hr>
    <!-- sección informacion instituto -->
    <div class="instituto">
        <div class="nombre">
            <h1>Instituto Gubernamental España Jesus Milla Selva</h1>
        </div>
        

            <div class="infoacademica">
                <h2>Información Académica</h2>
                <div class="jornadas">
                    <h3>Seleccione la jornada que desee matricular</h3>
                    <select name="grado" id="grado">
                        <option value="matutina">Matutina</option>
                        <option value="vespertina"> Vespertina</option>
                        <option value="nocturna">Nocturna</option>       
                    </select>
                </div>
                <div class="grados">
                    <h3>Grado que desea matricular</h3>
                    <select name="grado" id="grado">
                        <option value="septimo">Septimo</option>
                        <option value="octavo"> Octavo</option>
                        <option value="noveno">Noveno</option>
                        <option value="decimo">Decimo</option>
                        <option value="onceavo"> Onceavo</option>
                        <option value="doceavo">Doceavo</option>                          
                    </select>
                </div>
                <div class="carreras">
                    <h3>Seleccione la carrera que desee</h3>
                    <select name="grado" id="grado">
                        <option value="contaduria">BTP en Contaduria </option>
                        <option value="informatica"> BTN en Informatica</option>
                        <option value="humanidades">Humanidades</option>
                              
                    </select>
                </div>
                <div class="carreras">
                    <h3>Seleccione la sección que desee</h3>
                    <select name="seccion" id="seccion">
                        <option value="a">Sección A </option>
                        <option value="b">Sección B</option>
                        <option value="c">Sección H</option>
                              
                    </select>
                </div>
                <div class="regresar">
                    <a href="/institutos">
                        <button class="button2" type="submit">Matricular en otra institución</button>
                    </a>
        
                    <a href="">
                        <button class="button1" type="submit">Confirmar matricula</button> 
                    </a>
                </div>
            </div>
            </div>
            

        
    </div>

    <footer>
        <div class="footerBottom">
            <p>EDUCATODOS &copy;2024 Diseñado por <span class="designer">Grupo 5</span></p>
        </div>
    </footer>

    <script src="../js/main.js"></script>
</body>

</html>