<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styledetalleexpediente.css">
    <link rel="stylesheet" href="./css/styleheader.css">
    <title>Detalle Expediente</title>
</head>

<body class="fondo">
    <!-- sección menu -->
    <header class="header">
        <div class="logo">
            <img src="./img/EDUCATODOS.png" alt="">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/bienvenidoAdmi">Inicio</a></li>
                <li><a href="#">Matricula</a></li>
                <li><a href="/expedientesEstudiantiles">Expediente Estudiantil</a></li>
                <li><a href="#">Traslado</a></li>
                <li><a href="#">Instituciones</a></li>
                <li><a href="#">Solicitudes</a></li>
            </ul>
        </nav>
  
        <span>
            <a class="btn"><button><%= user.nombre%>  <%=user.apellido%></button></a>
        </span>

        <button class="navbar_toogle-btn">
            <img src="./img/puntos.ico" alt="">
        </button>
        <div class="navbar_mobile-menu">
            <ul class="nav-list-mobile">
                <li class="nav_link-mobile"><a href="/bienvenidoAdmi">Inicio</a></li>
                <li class="nav_link-mobile"><a href="#">Matricula</a></li>
                <li class="nav_link-mobile"><a href="#">Expediente Estudiantil</a></li>
                <li class="nav_link-mobile"><a href="#">Traslado</a></li>
                <li class="nav_link-mobile"><a href="#">Instituciones</a></li>
                <li class="nav_link-mobile"><a href="#">Solicitudes</a></li>
            </ul>
        </div>
        </nav>
    </header>

    <!-- sección solicitudes -->
    <div class="bienvenida">
        <h2>Detalle Expediente</h2>
        <div class="atras">
            <button type="submit">Regresar</button>
        </div>
        <div class="cerrar">
            <a href="/logout">Cerrar Sesión</a>
        </div>
    </div>
    <hr>

    <!-- sección detalle expediente -->
    <div class="container">
        <div class="expediente">
            <h2>Expediente</h2>
            <hr class="division">
            <p>Numero de Expediente: </p>
            <p>Fecha de Creación: </p>
            <p>Estado: </p>
        </div>

        <div class="tutor">
            <h2>Tutor</h2>
            <hr class="division">
            <p>Nombre Completo: </p>
            <p>DNI: </p>
            <p>Fecha de nacimiento:</p>
            <p>Genero:</p>
            <p>Relación con el Estudiante:</p>
            <p>Ocupación:</p>
            <p>Dirección:</p>
            <p>Correo Electrónico;</p>
            <p>Número de Teléfono:</p>
            <p>Foto identidad: </p>
        </div>

        <div class="estudiante">
            <h2>Estudiante</h2>
            <hr class="division">
            <p>Nombre Completo: </p>
            <p>DNI: </p>
            <p>Nacionalidad: </p>
            <p>Fecha de nacimiento:</p>
            <p>Genero:</p>
            <p>Dirección:</p>
            <p>Número de Teléfono: </p>
            <p>Foto tamaño carnet:</p>
            <p>Partida de nacimiento:</p>
        </div>
    </div>

    <footer>
        <div class="footerBottom">
            <p>EDUCATODOS &copy;2024 Diseñado por <span class="designer">Grupo 5</span></p>
        </div>
    </footer>

    <script src="./js/main.js"></script>
</body>

</html>