<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Administrador</title>
    <link rel="stylesheet" href="./css/styleheader.css">
    <link rel="stylesheet" href="./css/styleadmin.css">
</head>

<body class="fondo">
    <!-- sección menu -->
    <header class="header">
        <div class="logo">
            <img src="../img/EDUCATODOS.png" alt="">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/bienvenidoAdmi">Inicio</a></li>
                <li><a href="#">Matricula</a></li>
                <li><a href="#">Expediente Estudiantil</a></li>
                <li><a href="#">Traslado</a></li>
                <li><a href="#">Instituciones</a></li>
                <li><a href="#">Solicitudes</a></li>
            </ul>
        </nav>
     
        <span>
            <a class="btn"><button><%= user.nombre%>  <%=user.apellido%></button></a>
        </span>

        <button class="navbar_toogle-btn">
            <img src="./img/puntos.ico" alt="">
        </button>
        <div class="navbar_mobile-menu">
            <ul class="nav-list-mobile">
                <li class="nav_link-mobile"><a href="/bienvenidoAdmi">Inicio</a></li>
                <li class="nav_link-mobile"><a href="#">Matricula</a></li>
                <li class="nav_link-mobile"><a href="#">Expediente Estudiantil</a></li>
                <li class="nav_link-mobile"><a href="#">Traslado</a></li>
                <li class="nav_link-mobile"><a href="#">Instituciones</a></li>
                <li class="nav_link-mobile"><a href="#">Solicitudes</a></li>
            </ul>
        </div>
        </nav>
    </header>

     <!-- sección Bienvenida -->
    <div class="bienvenida">
        <h2>Bienvenido  <%= user.nombre %></h2>
        <div class="cerrar">
            <button type="submit">Cerrar Sesión</button>
        </div>
    </div>
    <hr>
    <!-- sección SERVICIOS -->
    <section id="servicios" class="servicios">
        <div class="fila">
            <div class="col">
                <div class="card">
                    <div class="icono">
                        <img src="img/institutos.ico" class="img">
                    </div>
                    <h3>Información Institución</h3>
                    <button class="button" name="infoinstituto" type="submit">Ver más</button>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div>
                        <img src="img/solicitudes.ico" class="img">
                    </div>
                    <h3>Solicitudes</h3>
                    <button class="button" name="traslado" type="submit">Ver más</button>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div>
                        <img src="img/profesor.ico" class="img">
                    </div>
                    <h3>Profesores</h3>
                    <button class="button" name="profesores" type="submit">Ver más</button>
                </div>
            </div>

    </section>

    <footer>
        <div class="footerBottom">
            <p>EDUCATODOS &copy;2024 Diseñado por <span class="designer">Grupo 5</span></p>
        </div>
    </footer>

    <script src="js/main.js"></script>
</body>

</html>