<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" href="../css/styleheader.css">
    <link rel="stylesheet" href="../css/administrador.css">
</head>

<body class="fondo">
    <!-- secci칩n menu -->
    <%-include("../partials/navAdmi") %>

     <!-- secci칩n Bienvenida -->
    <div class="bienvenida">
        <h2>Bienvenido  <%= user.nombre %></h2>
        <div class="cerrar">
          
        </div>
    </div>
    <hr>
    <!-- secci칩n SERVICIOS -->
    <div class="container-expedientes">
        <div class="expediente" id="contenedorExpedientes" >
            <a href="#" class="lista" aria-current="true">
                <div class="titulo">
                    <h5 class="mb-1">Solicitudes</h5>
                </div>
                <p class="mb-1">Ver todas las solicitudes </p>
            </a>
        </div>

        <div class="expediente" id="contenedorExpedientes" >
            <a href="#" class="lista" aria-current="true">
                <div class="titulo">
                    <h5 class="mb-1">Institutos</h5>
                </div>
                <p class="mb-1">Ver todos los institutos </p>
            </a>
        </div>

        <div class="expediente" id="contenedorExpedientes">
            <a href="#" class="lista" aria-current="true">
                <div class="titulo">
                    <h5 class="mb-1">Usuarios</h5>
                </div>
                <p class="mb-1">Ver todos los usuarios</p>
            </a>
        </div>

    </div>
    <footer>
        <div class="footerBottom">
            <p>EDUCATODOS &copy;2024 Dise침ado por <span class="designer">Grupo 5</span></p>
        </div>
    </footer>

    <script src="../js/main.js"></script>

    <%- include('../partials/footer') -%>