<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styletablas.css">
    <link rel="stylesheet" href="../css/styleheader.css">
    <title>Institutos</title>
</head>

<body class="fondo">
    <!-- sección menu -->
    <%-include("../partials/navAdmi") %>

    <div class="bienvenida">
        <h2>Lista de institutos</h2>
        <div class="atras">
            <button type="submit">Regresar</button>
        </div>
        <div class="cerrar">
            <a href="/logout">
                <button type="su">Cerrar Sesión</button>
            </a>
        </div>
    </div>
    <hr>

    <!-- sección tabla -->

    <div class="table-container">
        <table>
            <thead class="table-header">
                <tr class="header-row">
                    <th id="th-id">ID</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Tipo de educación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Instituto Santa Clara</td>
                    <td>Lorem ipsum dolor sit amet consectetu</td>
                    <td>Secundaria</td>
                    <td><a href="#">Ver más</a> | <a href="#">Editar</a> | <a href="#">Eliminar</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Instituto Santa Clara</td>
                    <td>Lorem ipsum dolor, sit amet consectetu</td>
                    <td>Primaria</td>
                    <td><a href="#">Ver más</a> | <a href="#">Editar</a> | <a href="#">Eliminar</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Instituto Santa Clara</td>
                    <td>Lorem ipsum dolor, sit amet consectetu</td>
                    <td>Centro básico</td>
                    <td><a href="#">Ver más</a> | <a href="#">Editar</a> | <a href="#">Eliminar</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Instituto Santa Clara</td>
                    <td>Lorem ipsum dolor, sit amet consectetu</td>
                    <td>Secundaria</td>
                    <td><a href="#">Ver más</a> | <a href="#">Editar</a> | <a href="#">Eliminar</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Instituto Santa Clara</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur recusandae possimum.</td>
                    <td>Internado</td>
                    <td><a href="#">Ver más</a> | <a href="#">Editar</a> | <a href="#">Eliminar</a></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Instituto Santa Clara</td>
                    <td>Lorem ipsum dolor, sit amet consectetu</td>
                    <td>Centro básico</td>
                    <td><a href="#">Ver más</a> | <a href="#">Editar</a> | <a href="#">Eliminar</a></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Instituto Santa Clara</td>
                    <td>Lorem ipsum dolor sit amet consectetu</td>
                    <td>Secundaria</td>
                    <td><a href="#">Ver más</a> | <a href="#">Editar</a> | <a href="#">Eliminar</a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Instituto Santa Clara</td>
                    <td>Lorem ipsum dolor, sit amet consectetu</td>
                    <td>Primaria</td>
                    <td><a href="#">Ver más</a> | <a href="#">Editar</a> | <a href="#">Eliminar</a></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Instituto Santa Clara</td>
                    <td>Lorem ipsum dolor, sit amet consectetu</td>
                    <td>Centro básico</td>
                    <td><a href="#">Ver más</a> | <a href="#">Editar</a> | <a href="#">Eliminar</a></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Instituto Santa Clara</td>
                    <td>Lorem ipsum dolor, sit amet consectetu</td>
                    <td>Secundaria</td>
                    <td><a href="#">Ver más</a> | <a href="#">Editar</a> | <a href="#">Eliminar</a></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Instituto Santa Clara</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur recusandae possimum.</td>
                    <td>Internado</td>
                    <td><a href="#">Ver más</a> | <a href="#">Editar</a> | <a href="#">Eliminar</a></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Instituto Santa Clara</td>
                    <td>Lorem ipsum dolor, sit amet consectetu</td>
                    <td>Centro básico</td>
                    <td><a href="#">Ver más</a> | <a href="#">Editar</a> | <a href="#">Eliminar</a></td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Instituto Santa Clara</td>
                    <td>Lorem ipsum dolor sit amet consectetu</td>
                    <td>Secundaria</td>
                    <td><a href="#">Ver más</a> | <a href="#">Editar</a> | <a href="#">Eliminar</a></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Instituto Santa Clara</td>
                    <td>Lorem ipsum dolor, sit amet consectetu</td>
                    <td>Primaria</td>
                    <td><a href="#">Ver más</a> | <a href="#">Editar</a> | <a href="#">Eliminar</a></td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Instituto Santa Clara</td>
                    <td>Lorem ipsum dolor, sit amet consectetu</td>
                    <td>Centro básico</td>
                    <td><a href="#">Ver más</a> | <a href="#">Editar</a> | <a href="#">Eliminar</a></td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Instituto Santa Clara</td>
                    <td>Lorem ipsum dolor, sit amet consectetu</td>
                    <td>Secundaria</td>
                    <td><a href="#">Ver más</a> | <a href="#">Editar</a> | <a href="#">Eliminar</a></td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Instituto Santa Clara</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur recusandae possimum.</td>
                    <td>Internado</td>
                    <td><a href="#">Ver más</a> | <a href="#">Editar</a> | <a href="#">Eliminar</a></td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Instituto Santa Clara</td>
                    <td>Lorem ipsum dolor, sit amet consectetu</td>
                    <td>Centro básico</td>
                    <td><a href="#">Ver más</a> | <a href="#">Editar</a> | <a href="#">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <footer>
        <div class="footerBottom">
            <p>EDUCATODOS &copy;2024 Diseñado por <span class="designer">Grupo 5</span></p>
        </div>
    </footer>

    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>

</html>