<header class="header">
    <div class="logo">
        <a href="/bienvenido">
            <img src="../img/EDUCATODOS.png" alt="" style="padding-bottom: 5%;">
        </a>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="/bienvenido">Inicio</a></li>
            <li><a href="#">Matricula</a></li>
            <li><a href="#">Expediente Estudiantil</a></li>
            <li><a href="#">Traslado</a></li>
            <li><a href="/institutos">Instituciones</a></li>
            <li><a href="#">Solicitudes</a></li>
        </ul>
    </nav>

    <div></div>
    <div></div>

    <button class="navbar_toogle-btn">
        <img src="../img/puntos.ico" alt="">
    </button>
    <div class="navbar_mobile-menu">
        <ul class="nav-list-mobile">
            <li class="nav_link-mobile"><a href="/bienvenido">Inicio</a></li>
            <li class="nav_link-mobile"><a href="#">Matricula</a></li>
            <li class="nav_link-mobile"><a href="#">Expediente Estudiantil</a></li>
            <li class="nav_link-mobile"><a href="#">Traslado</a></li>
            <li class="nav_link-mobile"><a href="/instituciones">Instituciones</a></li>
            <li class="nav_link-mobile"><a href="#">Solicitudes</a></li>
        </ul>
    </div>
    </nav>

    <span>
        <a class="btn"><button>
                <%= user.nombre%>
                    <%=user.apellido%>
            </button></a>
        <a class="a" href="/logout">Cerrar Sesión</a>
    </span>
</header>